.tools {
    margin: 0 17px;
}

.tools h5 {
    margin-left: 95px;
}
.tools .tools-list {
    display: flex;
}

@media screen and (max-width: 600px) {
    .tools h5 {
        margin-left: unset;
        text-align: center;
    }
    .tools .tools-list {
        justify-content: space-evenly;
    }
    .tools .single-tool {
        display: flex;
        justify-content: center;
    }
}
